/* general */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  /*text-align: center;*/
  padding: 0
  border: 0
}

h2, h4, h5 {
  text-align: center;
}

/* header */

.logo {
  padding: 10px 10px 9px 10px;
}

.logo img {
  max-height: 50px;
  width: auto;
}

.header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
  display: inline-flex;
  background-color: inherit;
}

.header nav {
  text-align: right;
  align-content: center;
  justify-content: flex-end;
  flex-grow: 1;
  padding: 20px 23px;
}

.header span {
  padding: 0 10px;
}

.header a {
  color: seashell;
}

/* Our Mission */

.mission {
  padding-top: 70px;
  height: 700px;
  width: 1200px;
  background-image: url("../images/background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

#mission {
  background-color: black;
  width: 100%;

}

#mission h2, h4 {
  margin: 0;
  padding: 10px 0;
}
